

# Added by cargo

# Cargo (any crate, not only repo root)
target/
lib
logs
chromium
auth.py
*.pyc
__pycache__/
build/
hackcon2026/
*.log
PowerShell/OptimizePerformance_Changes.json
downloads/
.env
Python/pyspotify/exports
*.exe
*.bak
snapchat_imagenames.md